.inherit-height {    
    height: calc( 100vh - 64px )
}

.breadcrumb-text {
    text-align: left;
    margin: 12px 0;
    font-size: 12px;
}

.ant-menu-submenu-title {
    text-align: left;
}

.ant-menu-inline > .ant-menu-item {
    padding-left: 64px;
    text-align: left;
}
